<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2023 Mi Sitio Web</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</body>
</html>


