
    <h2>Lista de Productos en Tiempo Real</h2>
    <ul id="productos-lista">

    </ul>

    <form id="formulario-producto">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required>

        <button type="submit">Agregar Producto</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <script>
        function actualizarListaProductos(productos) {
            const listaProductos = document.getElementById('productos-lista');

            listaProductos.innerHTML = '';

            productos.forEach(producto => {
                const listItem = document.createElement('li');
                listItem.textContent = `${producto.title} - ${producto.price}$`;
                listaProductos.appendChild(listItem);
            });
        }

        const socket = io();

        socket.on('productos', productos => {
            actualizarListaProductos(productos);
        });

        const formularioProducto = document.getElementById('formulario-producto');

        formularioProducto.addEventListener('submit', (event) => {
            event.preventDefault();

            const titulo = document.getElementById('titulo').value;
            const precio = document.getElementById('precio').value;

            
            socket.emit('nuevoProducto', { title: titulo, price: precio });
        });
    </script>


